* {
    margin: 0;
    padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}
.auth-container {
  display: grid;
  grid-template-columns: 55% 45%;
  height: 100vh;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}



.img1{
  height: 47vw;
  width: 100%;
  object-fit: cover;
  

}

/* RIGHT SIDE */
.auth-right {
  flex: 1;
  padding: 80px 60px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.auth-right .welcome {
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
  color: #ff7a18;
  margin-bottom: 30px;
}

.form label {
  font-size: 14px;
  color: #666;
  margin-top: 15px;
  display: block;
}

.form input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-top: 5px;
}

.forgot {
  font-size: 13px;
  color: #ff7a18;
  margin: 12px 0 25px;
  cursor: pointer;
}

.form button {
  width: 100%;
  padding: 14px;
  background: #ff7a18;
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.signup {
  font-size: 14px;
  margin-top: 20px;
}

.signup span {
  color: #ff7a18;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .auth-left {
    display: none;
  }

  .auth-right {
   position: absolute;
   left: 37vw;
    padding: 40px 25px;
  }
}
@media (max-width: 600px) {
  .auth-left {
    display: none;
  }

  .auth-right {
   position: absolute;
   left: 37vw;
    padding: 40px 25px;
  }
}
